<section @iframeFadeIn id="inicio" class="inicio-container">
    <div class="medio-container">
        <div class="medio_fondo">
            <img src="../../../assets/images/future.webp" alt="fondo" loading="lazy">
            <div class="inicio-titulo">
                    <h2><span>'HOLA </span>MUNDO'</h2><h1>CARLOS <span>ARROYO</span></h1>
            </div>
        </div>
        <div class="video-container">
            <div class="video">
                 @if(videos.length > 0){
                    <iframe @iframeFadeIn loading="lazy" [src]="sanitizer.bypassSecurityTrustResourceUrl(videos[currentVideoIndex].url)"
                        frameborder="0" allow="autoplay; fullscreen" title="Video">
                    </iframe>
                 }
            </div>
            
            <div class="botones">
                <button title="ver el siguiente video" @buttonFadeIn #prevVideoButton (click)="prevVideo()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M10.205 12.456A.5.5 0 0 0 10.5 12V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4a.5.5 0 0 0 .537.082"/>
                  </svg>
                </button>
                <button title="ver el anterior video" @buttonFadeIn #nextVideoButton (click)="nextVideo()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082"/>
                  </svg>
                </button>
            </div>
            
        </div>
    </div>
    <p id="subtitulo">Proyectos</p>
    @if(videos.length > 0){
        <p class="titulo-video">{{currentVideoIndex+1}}. {{videos[currentVideoIndex].name}}</p>
    }
    <div class="container-pie">
        <ul>
            <li><h2>backend <span>developer</span></h2></li>
            <li>
                <button class="boton">
                    <a href="/assets/download/Carlos_Arroyo_CV.pdf" download="Carlos_Arroyo_CV.pdf" title="descargar mi curriculum">Descarga CV</a>
                </button>
            </li>
            <li>
                <button class="boton">
                    <a href="mailto:carlosbackdev@gmail.com?subject=¡Hola!%20te%20escribo%20con%20el%20asunto%20:" title="enviar correo">Email</a>
                </button>
            </li>
            <li><h2><span>software</span> engineer</h2></li>
        </ul>
    </div> 
</section>