<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-contact">
            <p>Madrid</p>
            <p><a href="mailto:carlosbackdev@gmail.com">carlosbackdev&#64;gmail.com</a></p>
            <p>2025</p>
        </div>
        <div class="footer-logos">
            <a href="https://digitechfp.com/" target="_blank" rel="nofollow">
                <img src="assets/images/social/digi.png" alt="Digitech FP" title="Digitech FP">
            </a>
            <a href="#inicio">
                <div class="title"><div class="h2"><span class="h2color1">'</span>C<span class="h2color1">_</span>DEV<span class="h2color1">'</span></div></div>
            </a>
            <img src="assets/images/logo/angular.png" alt="angular logo" title="angular logo">
            <img src="assets/images/logo/html.png " alt="HTML Logo" title="HTML Logo">
        </div>
        <div class="footer-info">
            <p>Página Web creada por Carlos Arroyo &copy;</p>
            <blockquote>
                "Medir el progreso del desarrollo de software por líneas de código es como medir el progreso de la construcción de un avión por su peso." <br>
                &mdash; Bill Gates
            </blockquote>
            <nav class="footer-nav">
                <ul>
                    <li><a href="#inicio">INICIO</a></li>
                    <li><a href="#tecnology">TECNOLOGÍAS</a></li>
                    <li><a href="#projects">PROYECTOS</a></li>
                    <li><a href="#info">CONÓCEME</a></li>
                    <li><a href="#social">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
