@use '../../../themes/theme.scss' as theme;

section{
    padding-bottom: 100px;
}

.titulo-container {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    font-size: 17px;
    font-family: theme.$font-console;
    color: theme.$yellow;

    h3 {
        all: unset;
        font-size: 40px;
        border-bottom: theme.$border-bottom;
        padding-bottom: 5px;
    }
}

.contenedor {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    width: 86%;
    margin: auto;
    gap: 20px;

    .tarjeta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        margin-left: 7px;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-shadow: theme.$shadow;
        background: linear-gradient(0deg, rgba(6, 16, 26, 0.7) 0%, rgba(2, 16, 29, 1) 100%);
        border-radius: 30px;
        gap: 20px;

        .foto-container {
            display: grid;
            grid-template-rows: 1fr 1fr;

            .foto {
                width: 63%;
                height: auto;
                border-radius: 50%;
                margin: auto;
                img{
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }

            .exp-container {
                all: unset;
                display: grid;
                grid-template-columns: 1fr 1fr;
                color: theme.$white;
                gap: 10px;
                h4 {
                    font-size: 18px;
                    font-weight: bold;
                    color: theme.$yellow;
                    margin: 10px;
                    margin-left: 9px;
                    margin-right: 9px;
                    text-align: center;
                    border-bottom: 1px solid theme.$yellow;
                    padding-bottom: 2px;

                }
                .title{
                    text-align: left;
                    margin-top: 4px;
                    margin-bottom: 2px;
                    font-weight: bold;
                    font-family: theme.$font-fira;
                    font-size: 15px;
                }

                .list {
                    text-align: center;
                    ul{ 
                        all: unset;
                        display: flex;
                        flex-direction: column;
                        gap: 0px;
                        text-align: left;
                        li{
                            all: unset;
                            padding-left: 5px;
                            text-align: left;
                            font-family: theme.$font-console;
                            font-size: 14px;
                            margin-bottom: 1.7px;
                            font-style: italic;
                        }
                    }
                }
            }
        }
        .info-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            h4{
                font-size: 28px;
                font-weight: bold;
                color: theme.$yellow;
                margin: 15px;
                margin-bottom: 20PX;
                text-align: center;
            }
            .text{
                color: theme.$white;
                font-family: theme.$font-fira;
            }
        }
    }
    .descargas{
        width: 95%;
        border-radius: 10px;
        margin: auto;
        background: theme.$linear-gradiante2;
        font-family: theme.$font-fira;
        color: theme.$white;
        font-size: 20px;
        border-top: theme.$border-bottom;
        border-bottom: theme.$border-bottom;

        ul{
            all: unset;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            padding-right: 15px;
            justify-content: space-between;
            gap: 80px;
            padding-top: 30px;
            padding-bottom: 30px;
            li{
                margin: auto;
                h2{
                    font-weight: 550;
                }
                span{
                    color: theme.$blue-text;
                }
            }
        }
    }
    .boton{
        all: unset;
        display: flex    ;
        width: 170px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
        cursor: pointer;
        font-size: 17px;
        background: radial-gradient(circle, rgba(20, 20, 20, 0) -35%, rgb(20, 53, 87) -30%, rgba(12, 31, 51, 0.8) 89%);
        box-shadow: 0 0 5px rgba(24, 101, 245, 0.5), 0 0 8px rgba(24, 101, 245, 0.5), 0 0 9px rgba(24, 101, 245, 0.5);
        transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
        text-align: center;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: theme.$white;
            transition: color 0.3s ease-in-out;
    
        }
        &:hover {
            box-shadow: 0 0 8px rgba(24, 101, 245, 0.8), 0 0 10px rgba(24, 101, 245, 0.8), 0 0 18px rgba(24, 101, 245, 0.8);
            transform: scale(1.05); 
    
            a {
                color: theme.$blue-text;
            }
        }
    }
}

@media (max-width: 1200px) {
    section{
        padding-bottom: 70px;
    }
    .titulo-container {

        h3 {
            font-size: 35px;
        }
    }
    
    .contenedor {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        .tarjeta {
            display: flex;
            flex-direction: column-reverse;
            width: 95%;
            margin: auto;
            margin-top: 50px;
            padding: 10px;
            gap: 20px;
    
            .foto-container {
                display: flex;
                flex-direction: column;
    
                .foto {
                    width: 50%;
                    background-color: theme.$white;
                    border-radius: 50%;
                    margin: auto;
                    margin-top: 30px;
                    margin-bottom: 50px;
                }
    
                ul {
                    gap: 8px;
                    h4 {
                        font-size: 17px;
    
                    }
                    .title{
                        font-size: 13px;
                    }
    
                    li {

                        ul{

                            li{
                                font-size: 12.5px;    
                            }
                        }
                    }
                }
            }
            .info-container{
                h4{
                    font-size: 22px;
                }
                .text{
                    color: theme.$white;
                    font-family: theme.$font-fira;
                    font-size: 13.5px;
                    padding: 2px;
                }
            }
            
        }
        .descargas{
            width: 95%;
            margin-top: 60px;

    
            ul{
                padding-left: 0px;
                padding-right: 0px;
                gap: 30px;

                li{
                    margin: auto;
                    h2{
                        font-weight: 550;
                    }
                    span{
                        color: theme.$blue-text;
                    }
                }
            }
        }
    }    
}

@media (max-width: 800px){
    .contenedor{
        width: 98%;
    }
}