<section>
    <div class="titulo-container">
        <h3>PROYECTOS</h3>
    </div>
    @if(projectConfig.length > 0){
        <ul #projectList>
        @for (project of projectConfig; track $index) {
            <li (click)="openProjectModal(project)" class="project-card">
                <div class="badge-wrapper">
                  @if(project.id == 6){
                    <div class="new">Nuevo</div>
                  } @else {
                    <div class="new hidden-badge" aria-hidden="true"></div>
                  }
                </div>
                <div class="boton">
                    <div class="luz" aria-hidden="true"></div>
                    <div class="contenedor-imagen">
                        <img loading="lazy" [src]="project.images[0].image" [alt]="'Imagen de ' + project.title" [title]="'Imagen de ' + project.title">
                    </div>
                    <div class="resumen">
                        <h4>{{ project.title }}</h4>
                        <div class="tecnologias">             
                            <img loading="lazy" *ngFor="let tech of project.tecnology" class="logo" [src]="tech.image" [alt]="tech.name" [title]="tech.name">
                        </div>
                    </div>
                </div>
                <div class="referencias">
                    <a class="square" [href]="project.repository" target="_blank" title="Ver repositorio" rel="noopener">
                      <img loading="lazy" src="/assets/images/logo/githubfolder.png" alt="Logo link github" title="Logo link github">
                    </a>
                    <a class="square" [href]="project.link" target="_blank" title="Ver Proyecto" rel="noopener">
                      <img loading="lazy" src="/assets/images/logo/web.webp" alt="Logo link web" title="Logo link web">
                    </a>
                </div>
            </li>
        }
        </ul>
    }
    <div class="botones">
        <button title="Ver el anterior proyecto" class="prev" (click)="scrollProjects(-1)"  [ngClass]="{ 'disabled': isAtStart }">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M10.205 12.456A.5.5 0 0 0 10.5 12V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4a.5.5 0 0 0 .537.082"/>
            </svg>
        </button>
        <button title="Ver el siguiente proyecto" class="next" (click)="scrollProjects(1)"  [ngClass]="{ 'disabled': isAtEnd }">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082"/>
            </svg>
        </button>
    </div>
</section>

<app-project-detail
    [showModal]="showProjectModal"
    [project]="selectedProject"
    (showModalChange)="showProjectModal = $event">
</app-project-detail>