<section id="tecnologias" class="tecnologias-container">
    <div class="titulo-container">
        <h3>Tecnologías</h3>
    </div>
    <div class="tec-division">
        <div class="principal">
            <ul>
                <li>java</li>
                <li>spring</li>
                <li>typescrpit</li>
                <li>angular</li>
            </ul>
        </div>
        <div class="secundary">
            <ul>
                <li>nodejs</li>
                <li>express</li>
                <li>mongodb</li>
                <li>mysql</li>
            </ul>
        </div>
    </div>
</section>
