<section class="tecnologias-container">
    <div class="titulo-container">
        <h3>TECNOLOGIAS</h3>
    </div>
    <div class="tec-division">
        <div class="principal">
            <h4>Principales</h4>
            <ul>
                @for (skill of skillPrincipal; track $index) {
                    <li>
                        @if(skill.name.toLowerCase() !== 'typescript'){
                            <img src="{{skill.image}}" alt="{{skill.name}}" title="{{skill.name}}">                        }
                        @if(skill.name === 'TypeScript'){
                            <img id="ts" src="{{skill.image}}" title="{{skill.name}}" alt="{{skill.name}}">
                        }
                    </li>
                }
            </ul>
        </div>
        <div class="secundary">
            <h4>Bases</h4>
            <ul>
                @for (base of bases; track $index) {
                    <li>
                        <img src="{{base.image}}" title="{{base.name}}" alt="{{base.name}}">
                    </li>
                }
            </ul>
            <br><br>
            <h4>Interfaces y otras</h4>
            <ul>
                @for (interfaz of interfaces; track $index) {
                    <li>
                        <img src="{{interfaz.image}}" title="{{interfaz.name}}" alt="{{interfaz.name}}">
                    </li>
                }
            </ul>
            <br><br>
            <h4>Sistemas y servidores</h4>
            <ul>
                @for (sistema of sistemas; track $index) {
                    <li>
                        <img src="{{sistema.image}}" title="{{sistema.name}}" alt="{{sistema.name}}">
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
