<div id="inicio" class="borde-inicio"></div>
<app-nav class="navegator"></app-nav>
<app-inicio class="inicio fade-in-section"></app-inicio>
<div class="borde"></div>
<app-tecnology id="tecnology" class="tecnology fade-in-section"></app-tecnology>
<div class="borde"></div>
<app-projects id="projects" class="projects fade-in-section"></app-projects>
<div class="borde"></div>
<app-experience id="experience" class="experience fade-in-section"></app-experience>
<div class="borde"></div>
<app-informacion id="info" class="info fade-in-section"></app-informacion>
<div class="borde"></div>
<app-social-media id="social" class="social fade-in-section"></app-social-media>
<app-footer></app-footer>
<!-- Overlay de búsqueda eliminado -->
