@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Fira+Code:wght@400;700&display=swap');

$app-primary: #5aacef;
$black-20: rgba(0, 0, 0, 0.35);
$black-input: rgba(17, 7, 32, 0.75);
$white: rgba(255, 255, 255, 0.8);
$font-head:'Bungee Inline', sans-serif;
$font-console:'consolas', monospace;
$font-fira: 'Fira Code', monospace;
$border-bottom:2px solid rgb(41, 128, 185);
$blue-text:rgb(35, 149, 255);
