@use '../../../themes/theme.scss' as theme;

.modal-project {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(5px); 
    .close {
      position: absolute;
      top: 20px;
      left: 80%;
      background: none;
      color: #999999;
      font-size: 20px;
      border: none;
      padding: 6px 12px;
      font-weight: bold;
      cursor: pointer;
    
      &:hover {
        color: rgb(41, 128, 185);
      }
    }
    
  
    .modal-container {
      display: flex;
      flex-direction: column;
      overflow: auto;
      background: #1e1e1e;
      color: #fff;
      width: 70%;
      height: 80vh;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
      position: relative;
      box-shadow: 0px 0px 30px rgb(0, 98, 198), 0px 6px 13px rgb(0 135 223);
      animation: fadeIn 0.3s ease-in-out;
      #frame{
        width: 100%;
        height: 30vh;
        margin-top: 20px;
        margin-bottom: 25px;
      }
  
      h2 {
        text-align: center;
        font-size: 1.8rem;
        margin-top: 50px;
        margin-bottom: 20px;
        border-top: theme.$border-bottom;
        padding-top: 30px;
        color: theme.$yellow;
        font-family: theme.$font-console;

      }
      article{
        padding-right: 70px;
        .captura{
          display: flex;
          width: 50%;
          height: auto;
          margin: auto;
          border-radius: 10px;

        }
        .text{
          display: block;
          margin-bottom: 35px;
          padding-bottom: 50px;
          border-bottom: theme.$border-bottom;
          font-family: theme.$font-fira;
          font-size: 14px;
        }
      }
  
      p {
        font-size: 13px;
        opacity: 0.8;
        margin-bottom: 15px;
        font-family: theme.$font-fira;

      }
  
      .tecnologias {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: max-content;
        padding: 12px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        border-bottom: theme.$border-bottom;
        border-top: theme.$border-bottom;

  
        h4 {
          width: 100%;
          font-size: 1.2rem;
          color: theme.$yellow;
          font-family: theme.$font-console;
        }
  
        .logo {
          width: 40px;
          height: 40px;
          object-fit: contain;
          transition: transform 0.3s;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }

    }
  }
  
  // Animación de entrada
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  // Responsividad
  @media (max-width: 768px) {
    .modal-project {

      .modal-container {
        width: 95%;
        padding: 10px;
    
        h2 {
          font-size: 1.5rem;
        }
    
        p {
          font-size: 11px;
        }
    
        .tecnologias {
          width: auto;
          .logo {
            position: static;
            width: 35px;
            height: 35px;
          }
        }
        article{
          padding: 0px;
          
          p{
            padding-left: 3px;
          }
          .text{
            padding-top: 28px;
            font-size: 12px;
            scale: 0.95;
            position: relative;
            top: -66px;
            margin-bottom: 0px;
            padding-bottom: 10px;
          }
          img{
            position: relative;
            top: -66px;
          }
        }
      }
    }
  }