<section class="modal-project" *ngIf="showModal" (click)="closeModal()">
    <button class="close" alt="Cerrar proyecto" title="Cerrar proyecto" (click)="closeModal()">
        <i class="bi bi-x-square"></i>
      </button>
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div id="frame">
            <iframe id="frame" loading="lazy" [src]="sanitizer.bypassSecurityTrustResourceUrl(project?.video || '')" frameborder="0"></iframe>
        </div>
      <h2>{{ project?.title}}</h2> 
      <article>
        <p>{{ project?.descripcion }}</p>
        <div class="tecnologias">
            <h4 style="text-align: center;">Tecnologías</h4>
            <img *ngFor="let tech of project?.tecnology" class="logo" [src]="tech.image" [alt]="'logo ' + tech.name" [title]="'logo ' + tech.name">
        </div>
          <markdown class="text" [data]="project?.explication"></markdown>
          <img class="captura" [src]="project?.images?.[1]?.image"  [alt]="'captura ' + project?.title" [title]="'captura ' +project?.title"> 
      </article>      
    </div>
</section>
