/* You can add global styles to this file, and also import other style files */
html{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(3, 18, 29), rgb(0, 0, 0));
    
}