<section id="inicio">
    <div class="inicio">
     <div class="medio_fondo">
        <div class="inicio1">
            <ul class="ul-titulo">
                <li class="li-titulo" id="texto-carlos"><div class="texto-tiutlo"><h2 id="textobackend1"><span class="span2" id="textazul">'</span><span id="textazul" class="">HOLA</span> MUNDO<span class="span2">'</span></h2><h1>CARLOS <span id="textazul" class="">ARROYO</span></h1></div>
                </li>
                <li class="li-titulo" id="texto-posicion"><div class="texto-tiutlo" id="hidden2"><h2 id="textobackend2"><span id="textazul" class="">BACKEND</span> DEVELOPER</h2></div>
                </li>
            </ul>
        </div>      
            <div class="cuadro_descargas" style="opacity: 1;">
            <ul class="ul-cv" id="id-cv">
                <li class="li-cv2" id="hidden"><h2 id="textobackend2">backend <span id="textazul" class="">developer</span></h2></li>
                <li class="li-cv2"><a href="download/Carlos Arroyo CV.pdf" download="Carlos_Arroyo_CV" title="descargar mi curriculum"><div class="descarga"><p id="p-boton">Descarga CV</p></div></a></li>
                <li class="li-cv2"><a href="mailto:carloslospinos@gmail.com?subject=¡Hola!%20te%20escribo%20con%20el%20asunto%20:" title="descargar mis Certificaciones"><div class="descarga"><p id="p-boton">Email</p></div></a></li>
                <li class="li-cv2" id="hidden"><h2 id="textobackend2"><span id="textazul" class="">software</span> engineer</h2></li>
            </ul>
            </div> 
        </div>
    </div>
</section>